.footerContainer {
    display: flex;
    margin-top: 4.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.socialMediaIconContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
.socialMediaIcon {
    padding: 8px 16px 8px 16px;
}